.App {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff
}

.container{
  display: inline-block;
  position: relative;
  justify-content: center;
  margin-top: 15px; 
}

.watch{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 50px;
}

.outer-circle{
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
  color: #fff;
  font-size: 25px;
}

.hour{
  font-size: 60px;
}

.min{
  font-size: 50px;
}

.sec{
  font-size: 40px;
}

.msec{
  font-size: 30px;
}

.button-wrapper{
  width: 300px;
  margin-top: 20px;
  position: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
}

.button{
  width: 50px;
  height: 50px;
  border: 100px solid;
  cursor: pointer;
}

.button:hover{
  color: rgb(239, 237, 237);
}

.laps-list{
  display: inline-block;
  list-style: none;
  align-items: center;
  width: 250px;
  height: 250px;
  top: 35px;
  overflow: auto;
}

.lap{
  font-size: 25px;
  font-weight:450;
  color: white;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 40px;
  font-family: monospace;
}

.lap::-webkit-scrollbar{
  display: none;
}

.btn-wrapper{
  width: 300px;
  margin-top: 20px;
  position: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn{
  margin-top: 30px;
  background-color: transparent;
  color: rgb(193, 232, 246);
  display: inline-block;
  width: 70px;
  border: 0;
  border-radius: 100%;
  transition: all 500ms round(0.77, 0, 0.175, 1);
}

.btn:hover{
  color: rgb(205, 183, 255);
}

.slider{
    height: 40px;
    color: rgb(192, 67, 67);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 20px;
}

.thumb{
    background-color: rgb(192, 67, 67);
    color: red;
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid green;
}
.slider.green .thumb{
    background-color: green;
}